.videoarea { 
	width: 554px;
	height: 333px;
	background: #555;
	margin: 0 auto;
	margin-top: 15px;
}

.videoarea video {
	background: #282828;
	width: 100%;
	height: 100%;
}


:global(.insert-video-modal .ant-modal-header){
	border: 0;
	padding: 20px 30px;
}

:global(.insert-video-modal .ant-modal-title){
	border: 0;
	padding: 10px 0px 30px 0;
	font-size: 16px;
	color: #282828;
	font-weight: normal;
	border-bottom: 1px solid #e8e8e8;
}

:global(.insert-video-modal .ant-modal-close-x){
	font-size: 22px;
	font-weight: normal;
	background: #ccc;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50px;
	color: #fff;
}

:global(.insert-video-modal .ant-modal-close-x:hover){
	background: #ff4b4b;
}

:global(.insert-video-modal .ant-modal-body){
	min-height: 300px;
	padding: 0px 30px;
}

:global(.insert-video-modal .ant-modal-footer){
	text-align: center;
	padding: 30px 0;
	border: 0;
}

:global(.insert-video-modal .ant-timeline-item-head-blue){
	border-color: #5a5a5a;
}

.p-btn-l{
	display: inline-block;
	line-height: 40px;
	border-radius: 2px;
	height: 40px;
	width: 100px;
	margin: 10px 0 0 0;
	background: #ff4b4b;
	color: #fff;
	border: 1px solid #e8e8e8;
	margin: 0 10px;
}

.p-btn-r{
	display: inline-block;
	line-height: 40px;
	border-radius: 2px;
	height: 40px;
	width: 100px;
	margin: 10px 0 0 0;
	background: #f5f5f5;
	color: #282828;
	margin: 0 10px;
}

.p-btn-l:hover {
	opacity: 0.7;
	color: #fff;
}

.p-btn-r:hover {
	opacity: 0.7;
	color: #282828;
}