.demo-card {
	border: 1px solid #e9e9e9;
	margin: 10px;
	border-radius: 4px;
}
.meta {
	position: relative;
	margin-top: 20px;
}

.meta .descr {
	display: inline-block;
	padding: 20px 10px 20px 10px;
	border-top: 1px solid #e9e9e9;
	font-size: 12px;
}
.descr-container {
	display: flex;
}

.descr {
	line-height: 2;
}

.descr code {
	background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 0.9em;
    margin: 0 1px;
    padding: 0.2em 0.4em;
}

.meta .title {
	position: relative;
	display: inline-block;
	padding: 1px 8px;
	left: 10px;
	bottom: -10px;
	font-size: 14px;
	background-color: #fff;
}

.switch-icon {
	align-self: flex-end;
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.code {
	overflow-x: scroll;
	padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dashed #e9e9e9;
}