.demo-card {
	width: 
}
.meta {
	position: relative;
	margin-top: 20px;
}

.meta .descr {
	display: inline-block;
	padding: 20px 10px 20px 10px;
	border-top: 1px dashed #e9e9e9;
	font-size: 12px;
}
.descr-container {
	display: flex;
}

.meta .title {
	position: relative;
	display: inline-block;
	left: 10px;
	bottom: -10px;
	font-size: 14px;
}

.switch-icon {
	align-self: flex-end;
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.code {
	overflow-x: scroll;
	padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dashed #e9e9e9;
}